.btn-danger {
    background-color: rgb(191, 64, 17);
<<<<<<< HEAD
    border-radius: 50px;
=======
    padding: 10px 3px;
    border-radius: 20px;
>>>>>>> d6cdbafaa1d8fd5d89639db6f1aff184638c3a9d
  }
  